In [ ]:
#@author -Tejasvi Sharma

<h1>Introduction to pandas</h1>

In [1]:
import pandas as pd
import numpy as np

s = pd.Series([1,3,5,np.nan,6,8]) # panda
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
#Creating a Dataframe  from numpy array.
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01  0.054046  0.652180  1.477920  0.014663
2013-01-02 -1.191793 -0.908701 -0.404972  1.866800
2013-01-03 -0.011661 -1.169125 -0.576973 -0.241492
2013-01-04  0.375001 -0.870269 -0.085624 -0.836709
2013-01-05  0.007384  0.295479 -1.356988  0.663840
2013-01-06  2.289095 -0.826996 -1.363951  0.335466

In [3]:
#Creating a Dataframe from dictionary
df2 = pd.DataFrame({ 'A' : 1.,
                        'B' : pd.Timestamp('20130102'),
                        'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                        'D' : np.array([3] * 4,dtype='int32'),
                        'E' : pd.Categorical(["test","train","test","train"]),
                        'F' : 'foo' })

#Getting data types of different columns
print(df2.dtypes)

#Getting column names in a dataframa

print(df2.columns)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [5]:
#To see a snapshot of data use head or tail, can also specify the number of rows.

print(df2.head(2))

print(df2.tail(2))

#describe function can give a description about a dataframe numeric columns
df2.describe()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [4]:
#traspose a Database like a matrix
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [13]:
#sorting a Dataframe by column

print(df.sort_values(by='B',ascending=True)) #sort by column B
#df.sort_values(by='B',ascending=False)
print(df.sort_index(ascending=True))
print(df.sort_index(ascending=False))

                   A         B         C         D
2013-01-03 -0.011661 -1.169125 -0.576973 -0.241492
2013-01-02 -1.191793 -0.908701 -0.404972  1.866800
2013-01-04  0.375001 -0.870269 -0.085624 -0.836709
2013-01-06  2.289095 -0.826996 -1.363951  0.335466
2013-01-05  0.007384  0.295479 -1.356988  0.663840
2013-01-01  0.054046  0.652180  1.477920  0.014663
                   A         B         C         D
2013-01-01  0.054046  0.652180  1.477920  0.014663
2013-01-02 -1.191793 -0.908701 -0.404972  1.866800
2013-01-03 -0.011661 -1.169125 -0.576973 -0.241492
2013-01-04  0.375001 -0.870269 -0.085624 -0.836709
2013-01-05  0.007384  0.295479 -1.356988  0.663840
2013-01-06  2.289095 -0.826996 -1.363951  0.335466
                   A         B         C         D
2013-01-06  2.289095 -0.826996 -1.363951  0.335466
2013-01-05  0.007384  0.295479 -1.356988  0.663840
2013-01-04  0.375001 -0.870269 -0.085624 -0.836709
2013-01-03 -0.011661 -1.169125 -0.576973 -0.241492
2013-01-02 -1.191793 -0.908701 -0.404972  1.866800
2013-01-01  0.054046  0.652180  1.477920  0.014663

In [24]:
#Accessing data from a DataFrame
#getting a column A from a dataframe df, it returns a series
print(df['A'])

#getting first 3 rows from a DataFrame, using slicing
print("\n"+"Slicing")
print(df[0:3]) 
#To slice both rows and column use iloc
print("\n"+"using iloc to get data")
print(df.iloc[0:3,0:2])
#To slice using labels use loc
print("\n"+"using loc to get data")
print(df.loc['20130102':'20130104',['A','B']])

2013-01-01    0.706346
2013-01-02    1.464616
2013-01-03   -0.343852
2013-01-04   -1.618880
2013-01-05   -0.254342
2013-01-06   -1.037881
Freq: D, Name: A, dtype: float64

Slicing
                   A         B         C         D
2013-01-01  0.706346  0.058741 -0.325617 -0.283842
2013-01-02  1.464616  2.088079 -0.202424  0.354482
2013-01-03 -0.343852 -0.173197 -0.553692 -0.784880

using iloc to get data
                   A         B
2013-01-01  0.706346  0.058741
2013-01-02  1.464616  2.088079
2013-01-03 -0.343852 -0.173197

using loc to get data
                   A         B
2013-01-02  1.464616  2.088079
2013-01-03 -0.343852 -0.173197
2013-01-04 -1.618880  0.215280

In [25]:
#Getting a specific value from a dataframe
#use function iat
df.iat[1,1]

2.0880793104879554

In [28]:
#selecting data based on conditions
#using dataframe df
df

                   A         B         C         D
2013-01-01  0.706346  0.058741 -0.325617 -0.283842
2013-01-02  1.464616  2.088079 -0.202424  0.354482
2013-01-03 -0.343852 -0.173197 -0.553692 -0.784880
2013-01-04 -1.618880  0.215280  0.514721  0.620356
2013-01-05 -0.254342  0.014589 -0.369575  0.578745
2013-01-06 -1.037881 -0.234445 -1.384228  0.772879

In [47]:
print("\n"+"First Condition")
print(df[df.A > 0 ]) #Condition column A has value more than 0
# we use conditions with and,or etc
print("\n"+"Second Condition")
print(df[(df["A"] >0) | (df["B"] >0)])
#We can also use query function 
print("\n"+"Third Condition")
print(df.query('A>0 and B>0'))

First Condition
                   A         B         C         D
2013-01-01  0.706346  0.058741 -0.325617 -0.283842
2013-01-02  1.464616  2.088079 -0.202424  0.354482

Second Condition
                   A         B         C         D
2013-01-01  0.706346  0.058741 -0.325617 -0.283842
2013-01-02  1.464616  2.088079 -0.202424  0.354482
2013-01-04 -1.618880  0.215280  0.514721  0.620356
2013-01-05 -0.254342  0.014589 -0.369575  0.578745

Third Condition
                   A         B         C         D
2013-01-01  0.706346  0.058741 -0.325617 -0.283842
2013-01-02  1.464616  2.088079 -0.202424  0.354482

In [55]:
#Working with missing data
#creating a data frame
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1)
#dealing with NAN
#we can either replace with it with some value or remove rows with missing data
#use dropna functions to drop rows with NaN Value
#use fillna to fill the NaN with some value
#use isna to check where the value as are
print("\n"+"Output of isna")
print(df1.isna())
print("Output of dropna")
print(df1.dropna())
print("Output od fillna")
print(df1.fillna(1))

                   A         B         C         D    E
2013-01-01  0.706346  0.058741 -0.325617 -0.283842  1.0
2013-01-02  1.464616  2.088079 -0.202424  0.354482  1.0
2013-01-03 -0.343852 -0.173197 -0.553692 -0.784880  NaN
2013-01-04 -1.618880  0.215280  0.514721  0.620356  NaN

Output of isna
                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True
Output of dropna
                   A         B         C         D    E
2013-01-01  0.706346  0.058741 -0.325617 -0.283842  1.0
2013-01-02  1.464616  2.088079 -0.202424  0.354482  1.0
Output od fillna
                   A         B         C         D    E
2013-01-01  0.706346  0.058741 -0.325617 -0.283842  1.0
2013-01-02  1.464616  2.088079 -0.202424  0.354482  1.0
2013-01-03 -0.343852 -0.173197 -0.553692 -0.784880  1.0
2013-01-04 -1.618880  0.215280  0.514721  0.620356  1.0

<h3>Join</h3>

In [57]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
pd.merge(left, right, on='key') #use left_on and right_on when column names are different

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

<h3>Grouping</h3>

In [59]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],'C' : np.random.randn(8),'D' : np.random.randn(8)})

print(df.groupby('A').sum())
print(df.groupby(['A','B']).sum())

            C         D
A
bar -2.014960  0.010579
foo -3.627674  0.371548
                  C         D
A   B
bar one   -0.783126  0.396037
    three -1.179506  0.564112
    two   -0.052328 -0.949571
foo one   -1.680946  2.641811
    three  0.034144 -0.148900
    two   -1.980872 -2.121363

In [60]:
#Questions regarding Data Frames

Question 1: Read a csv file in a data frame.(File_Name:= iris_data.csv)
            
        Perform the following.
            1: Print the column names.
            2: Print the first 10 rows in the dataframe.
            3: Print the last 10 rows in the dataframe.  
            4: Print the index of the dataframe.

In [62]:
#Solution

Question 2: Read a csv file in a data frame.(Fila Name:- iris_data_1.csv)
        
        Perform the following.
            1. Count the number of missing values in the dataframe.
            2. Replace the missing values in a dataframe by taking input from user.
            3. Extract Column 1 values and print it.
            4. Get a summary of the dataframe.

In [ ]:
#Solution

In [ ]:
References- https://pandas.pydata.org/pandas-docs/stable/10min.html